# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/

# Environment Variables
.env

# Runtime Data & Artifacts
artifacts/
uploads/
*.log

# OS Specific
.DS_Store
.tcc_token

# IDEs
.vscode/
.idea/

# Streamlit
.streamlit/secrets.toml
